{% extends "myDesk/layout.html" %}
{% load static %}

{% block body %}

    <h2>Admin Dashboard</h2>
    <div class="row section">
    <h3>Manage Company</h3>
{% if companies %}
    <ul class="list-group">
    {% for company in companies %}
        <li class="list-group-item company">
        <div class="row row-cols-auto">
        <div class="col company_name">Company name: <span>{{company.company_name}}</span></div>
        <div class="col">
            <button type="button" class="col btn btn-success btn-sm edit-company-btn">Edit</button>
        </div>
       <!-- Delete company record -->
        <div class="col">
             <form class="col delete-company-form">
            <input type="text" hidden class="delete-company_id" value="{{company.id}}" />
            <input type="submit" class="btn btn-danger btn-sm delete-company-btn" value="Delete">
        </form>
        </div>  
        </div>
       <!-- Edit company infos -->
        <div class="row g-2 edit-company-view" style="display: none;">
            <form class="edit-company-form">
                <div class="col">
                <div class="form-floating">
                <input type="text" class="edit-company_name form-control" id="floatingName" value="{{company.company_name}}" />
                <label for="floatingName">Company name</label>
                </div>
                </div>

                <input type="text" hidden class="edit-company_id" value="{{company.id}}" />
                <input type="submit" class="btn btn-sm btn-primary" value="Save" />
            </form>
        </div>
        </li>
    {% endfor %}
    </ul>


    </div>

    <hr>
<!-- MANAGE TEAM SECTION -->
    <div class="row section">
        <h3>Manage Teams</h3>
        {% if teams %}
            <ul class="list-group">
            {% for team in teams %}
                <li class="list-group-item team">
                <div class="row row-cols-auto">
                <div class="col team_name">Team: <span>{{team.team_name}}</span></div>
                <div class="col">
                    <button type="button" class="col btn btn-success btn-sm edit-team-btn">Edit</button>
                </div>
                <!-- Delete team record -->
                <div class="col">
                    <form class="col delete-team-form">
                        <input type="text" hidden class="delete-team_id" value="{{team.id}}" />
                        <input type="submit" class="btn btn-danger btn-sm delete-team-btn" value="Delete">
                    </form>
                </div>  
            </div>
            <!-- Edit team infos -->
            <div class="row g-2 edit-team-view" style="display: none;">
                <form class="edit-team-form">
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="edit-team_name form-control" id="floatingNameTeam" value="{{team.team_name}}" />
                            <label for="floatingNameTeam">Team</label>
                        </div>
                    </div>
                        <input type="text" hidden class="edit-team_id" value="{{team.id}}" />
                        <input type="submit" class="btn btn-sm btn-primary" value="Save" />
                    </form>
                </div>

            </li>
            {% endfor %}
            </ul>
        {% endif %}
    <div class="card section" style="width: 18rem;">
    <div class="card-body"><h4 class="card-title">Add a new team</h4>
    <div>
    <form action="{% url 'add_team' %}" method="post">
            {% csrf_token %}
            {{ team_form }}
            <input class="btn btn-primary" type="submit" value="Add Team">
        </form>  
    </div>
    </div>
    </div>
    </div>
    <hr>
<!-- END MANAGE TEAM SECTION -->


<!-- MANAGE EMPLOYEE SECTION -->
     <div class="row section">
        <h3>Manage Employees</h3>
        {% if employees %}
            <ul class="list-group">
            {% for employee in employees %}
                <li class="list-group-item employee">
                <div class="row row-cols-auto">
                <div class="col firstname"><span>{{employee.user.get_full_name}}</span></div>
                {% if not employee.team.id %}
                    <div class="col team">Team: Not assigned</span></div>
                  {% else %}
                    <div class="col team">Team: <span>{{employee.team.team_name}}</span></div>
                  {% endif %}
                <div class="col role">Role: <span>{{employee.role}}</span></div>
                <div class="col employment_date">Employment Date: <span>{{employee.employment_date}}</span></div>
                <div class="col vacation_days">Vacation Days: <span>{{employee.vacation_days}}</span></div>
                <div class="col">
                    <button type="button" class="col btn btn-success btn-sm edit-employee-btn">Edit</button>
                </div>
                <!-- Delete employee record -->
                <div class="col">
                    <form class="col delete-employee-form">
                        <input type="text" hidden class="delete-employee_id" value="{{employee.user.id}}" />
                        <input type="submit" class="btn btn-danger btn-sm delete-employee-btn" value="Delete">
                    </form>
                </div>  
            </div> 
            <!-- Edit team infos -->
            <div class="row g-2 edit-employee-view" style="display: none;">
                <form class="edit-employee-form" id="floatingSelectTeam">
                    <div class="col">
                        <div class="form-floating">
                        <select class="form-select edit-team">
                            {% if not employee.team.id %}
                            <option value="" selected>--Team not assigned--</option>
                            {% else %}
                            <option value="remove">--Remove from Team--</option>
                            {% endif %}
                                {% for team in teams %}
                                {% if team.id == employee.team.id %}
                                <option value= "{{ team.id }}" selected>{{ team.team_name }}</option>
                                {% else %}
                                <option value= "{{ team.id }}">{{ team.team_name }}</option>
                                {% endif %}
                                {% endfor %}
                        </select>
                        <label for="floatingSelectTeam">Team</label>

                        </div>
                        <div class="form-floating">
                        <select class="form-select edit-role" id="floatingSelectRole">
            
                                {% for role in employee.ROLES.keys %}
                                {% if role == employee.role %}
                                <option value= "{{ role }}" selected>{{ role }}</option>
                                {% else %}
                                <option value= "{{ role }}">{{ role }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <label for="floatingSelectRole">Role</label>
                        </div>
                        <div class="form-floating">
                            <input type="date" class="edit-employment_date form-control" id="floatingemploymentDate" value="{{employee.employment_date|date:'Y-m-d'}}" />
                            <label for="floatingemploymentDate">Employment Date</label>
                        </div>
                        <div class="form-floating">
                            <input type="number" class="edit-vacation_days form-control" id="floatingVacationDays" value="{{employee.vacation_days}}" />
                            <label for="floatingVacationDays">Vacation Days</label>
                        </div>
                    </div>
                        <input type="text" hidden class="edit-employee_id" value="{{employee.id}}" />
                        <input type="submit" class="btn btn-sm btn-primary" value="Save" />
                    </form>
                </div>

            </li>
            {% endfor %}
            </ul>
        {% endif %}
    <!-- <div class="card section" style="width: 18rem;">
    <div class="card-body"><h4 class="card-title">Add a new employee</h4>
    <div>
    <form action="{% url 'add_employee' %}" method="post">
            {% csrf_token %}
            {{ profile_form }}
            <input class="btn btn-primary" type="submit" value="Add Employee">
        </form>  
    </div>
    </div>
    </div> -->
    </div>
    <hr>
<!-- END MANAGE EMPLOYEE SECTION -->

{% else %}
    <div class="card section" style="width: 18rem;">
    <div class="card-body"><h4 class="card-title">Company Infos</h4>
    <div>
    <form action="{% url 'add_company' %}" method="post" class="form-label">
            {% csrf_token %}
            {{ company_form }}
            <input class="btn btn-primary" type="submit" value="Add Company">
        </form>  
    </div>
    </div>
    </div>
{% endif %}
{% endblock %}