{% extends "myDesk/layout.html" %}
{% load static %}

{% block body %}
<h3>Delete vacation request</h3>

<div class="p-3 mb-3">
    <p>
        Are you sure you want to delete the request from 
        <strong>{{ vacation_request.start_date }}</strong> to 
        <strong>{{ vacation_request.end_date }}</strong>?
    </p>
    {% if vacation_request.manager_message %}
        <p>Message: {{ vacation_request.manager_message }}</p>
    {% endif %}
</div>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Yes, delete</button>
    <a href="{% url 'vacation_requests' %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
