{% extends "myDesk/layout.html" %}
{% load static %}

{% block body %}

<div class="row section">
    <h2 class="mb-4">Welcome {{ user.get_full_name }}</h2>
    <h3>Your Infos</h3>
    <div class="card m-2 text-bg-light" style="width: auto">
        <div class="card-body profile">

            <div class="card-title">Username: {{ user.username }}</div>
            <div class="">Team: {{ user.profile.team }}</div>
            <div class="">Role: {{ user.profile.role }}</div>
            <div class="">Employment date: {{ user.profile.employment_date }}</div>
            <div class="">Vacation days: {{ user.profile.vacation_days }}</div>

        </div>
    </div>
    <hr>

</div>

{% endblock %}