{% extends "myDesk/layout.html" %}
{% load static %}

{% block body %}

<h2>{{ user.get_full_name }}</h2>

{% if not vacation_requests%}
<h4> You have no vacation request</h4>
<h5>Use the form below to submit your request</h5>

{% else %}
<h4>Your requests:</h4>

 <ul class="list-group">
    {% for vacation in vacation_requests %}
        <li class="list-group-item m-2 vacation_request">
        <div class="row p-2">
        <div class="col-3 start_date"><span>Start date: {{vacation.start_date}}</span></div>
        <div class="col-3 end_date"><span>End date: {{vacation.end_date}}</span></div>
        <div class="col-3 approved"><span>Approval status: 
          {% if not vacation.processed %}
          Pending
          {% elif vacation.approved %}
          Approved!
          {% else %}
          Denied.
          {% endif %}
        </span></div>
        <div class="col-1">
            <button type="button" class="col btn btn-primary btn-sm edit-vacation_request-btn">Edit</button>
        </div>
       <!-- Delete vacation_request record -->
        <div class="col-1">
             <form class="col delete-vacation_request-form">
            <input type="text" hidden class="delete-vacation_request_id" value="{{vacation.id}}" />
            <input type="submit" class="btn btn-danger btn-sm delete-vacation_request-btn" value="Delete">
        </form>
        </div>  
        </div>
       <!-- Edit vacation_request infos -->
        <div class="row g-2 edit-vacation_request-view" style="display: none;">
            <form class="edit-vacation_request-form">
                <div class="col">
                <div class="form-floating">
                <input type="text" class="edit-start_date form-control" id="floatingStartDate" value="{{vacation.start_date}}" />
                <label for="floatingStarDate">Start date</label>
                </div>
                <div class="form-floating">
                <input type="text" class="edit-end_date form-control" id="floatingEndDate" value="{{vacation.end_date}}" />
                <label for="floatingEndDate">End date</label>
                </div>
                </div>

                <input type="text" hidden class="edit-vacation_request_id" value="{{vacation.id}}" />
                <input type="submit" class="btn btn-sm btn-primary" value="Save" />
            </form>
        </div>
        </li>
    {% endfor %}
    </ul>
    </div>
    <hr>

{% endif %}
   

 <div class="card section" style="width: 18rem;">
    <div class="card-body"><h4 class="card-title">New vacation request</h4>
    <div>
    <form action="{% url 'add_request' %}" method="post">
            {% csrf_token %}
            {{ vacation_request_form }}
            <button class="btn btn-primary mt-2" type="submit">Send request</button>
     </form>  
    </div>
    </div>
    </div>

{% endblock %}