{% extends "myDesk/layout.html" %}
{% load static %}

{% block body %}

<div class="row section" style="width: 18rem;">
    <h2 class="mb-4">Admin Dashboard</h2>
    <h3>Company</h3>
    <!-- The first setup is about the company. If there is no one
     all other settings are not visible. -->
{% if companies %}
    <ul class="list-group">
    {% for company in companies %}
        <li class="list-group-item company">
        <div class="row">
        <div class="col company_name"><span>{{company.company_name}}</span></div>
        <div class="col">
            <button type="button" class="col btn btn-primary btn-sm edit-company-btn">Edit</button>
        </div>

       <!-- Edit company infos -->
        <div class="row g-2 edit-company-view" style="display: none;">
            <form class="edit-company-form">
                <div class="col">
                <div class="form-floating">
                <input type="text" class="edit-company_name form-control" id="floatingName" value="{{company.company_name}}" />
                <label for="floatingName">Company name</label>
                </div>
                </div>

                <input type="text" hidden class="edit-company_id" value="{{company.id}}" />
                <input type="submit" class="btn btn-sm btn-primary" value="Save" />
            </form>
        </div>
        </li>
    {% endfor %}
    </ul>
    </div>
    <hr>
<!-- MANAGE TEAM SECTION -->
    <div class="row section team">
        <h3>Teams</h3>
        {% if teams %} 
        {% for team in teams %}
        <div class="col section">  
            <div class="card text-bg-light" style="width: 18rem;">
                <div class="card-body">
                <h4 class="card-title team_name"><span>{{team.team_name}}</span></h4>    
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary btn-sm edit-team-btn">Edit</button> 
                    </div>            
                <!-- Delete team record -->
                    <div class="col">
                        <form class="delete-team-form">
                            <input type="text" hidden class="delete-team_id" value="{{team.id}}" />
                            <input type="submit" class="btn btn-danger btn-sm delete-team-btn" value="Delete">
                        </form>  
                    </div> 
                </div>         
            </div>
                    <!-- Edit team infos -->
                    <div class="edit-team-view" style="display: none;">

                        <div class="card-body">
                        <form class="edit-team-form">
                                <div class="form-floating">
                                    <input type="text" class="edit-team_name form-control" id="floatingNameTeam" value="{{team.team_name}}" />
                                    <label for="floatingNameTeam">Team</label>
                                </div>
                                <input type="text" hidden class="edit-team_id" value="{{team.id}}" />
                                <input type="submit" class="btn btn-sm btn-primary" value="Save" />
                            </form>
                        </div>
                    </div>
                    
                </div>   
            </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="card section" style="width: 18rem;">
    <div class="card-body"><h4 class="card-title">Add a new team</h4>
    <div>
    <form action="{% url 'add_team' %}" method="post">
            {% csrf_token %}
            {{ team_form }}
            <input class="btn btn-primary mt-2" type="submit" value="Add Team">
     </form>  
    </div>
    </div>
    </div>
    <hr>
<!-- END MANAGE TEAM SECTION -->


<!-- MANAGE EMPLOYEE SECTION -->
 <!-- Active users -->
     <div class="row section employee">
        <h3>Employees</h3>
        {% if employees %}
        {% for employee in employees %}
        {% if employee.user.is_active %}
        <div class="col section">
        <div class="card text-bg-light" style="width: 18rem;">
            <div class="card-body">
                <div class="card-title firstname"><span>{{employee.user.get_full_name}}</span></div>
                <div class="uername">Username: <span>{{employee.user.username}}</span></div>
                {% if not employee.team.id %}
                    <div class="team">Team: Not assigned</span></div>
                  {% else %}
                    <div class="team">Team: <span>{{employee.team.team_name}}</span></div>
                  {% endif %}
                <div class="role">Role: <span>{{employee.role}}</span></div>
                <div class="employment_date">Employment Date: <span>{{employee.employment_date}}</span></div>
                <div class="vacation_days">Annual Vacation Days: <span>{{employee.vacation_days}}</span></div>
                <div class="row">
                <div class="col">
                    <button type="button" class="col btn btn-primary btn-sm mt-2 edit-employee-btn">Edit</button>
                </div>
                <!-- Toggle is_active property of this user -->
                 {% if employee.user.id != user.id%}
                <div class="col">
                    <form class="col delete-employee-form">
                        <input type="text" hidden class="delete-employee_id" value="{{employee.user.id}}" />
                        <input type="submit" class="btn btn-danger btn-sm mt-2 delete-employee-btn" value="Deactivate">
                    </form>
                </div>  
                {% endif %}
                </div>  
            </div> 
            <!-- Edit employee infos -->
            <div class="row g-2 edit-employee-view" style="display: none;">
                <form class="edit-employee-form" id="floatingSelectTeam">
                    <div class="card-body">
                        <div class="form-floating">
                        <select class="form-select edit-team">
                            {% if not employee.team.id %}
                            <option value="" selected>--Team not assigned--</option>
                            {% else %}
                            <option value="remove">--Remove from Team--</option>
                            {% endif %}
                                {% for team in teams %}
                                {% if team.id == employee.team.id %}
                                <option value= "{{ team.id }}" selected>{{ team.team_name }}</option>
                                {% else %}
                                <option value= "{{ team.id }}">{{ team.team_name }}</option>
                                {% endif %}
                                {% endfor %}
                        </select>
                        <label for="floatingSelectTeam">Team</label>
                        </div>
                    <!-- End Edit team infos -->

                        <div class="form-floating">
                        <select class="form-select edit-role" id="floatingSelectRole">
            
                                {% for role in employee.ROLES.keys %}
                                {% if role == employee.role %}
                                <option value= "{{ role }}" selected>{{ role }}</option>
                                {% else %}
                                <option value= "{{ role }}">{{ role }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <label for="floatingSelectRole">Role</label>
                        </div>
                        <div class="form-floating">
                            <input type="date" class="edit-employment_date form-control" id="floatingemploymentDate" value="{{employee.employment_date|date:'Y-m-d'}}" />
                            <label for="floatingemploymentDate">Employment Date</label>
                        </div>
                        <div class="form-floating">
                            <input type="number" class="edit-vacation_days form-control" id="floatingVacationDays" value="{{employee.vacation_days}}" />
                            <label for="floatingVacationDays">Annual Vacation Days</label>
                        </div>
                        <input type="text" hidden class="edit-employee_id" value="{{employee.id}}" />
                        <input type="submit" class="btn btn-sm mt-2 btn-primary" value="Save" />
                    </div>
                    </form>
                </div>
            </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    <!-- <hr> -->
    <!-- Inactive employees -->
     <div class="row section" style="width: 18rem;">
        <h4>Inactive Employees</h4>
        {% if employees %}
            <ul class="list-group">
            {% for employee in employees %}
                {% if not employee.user.is_active %}
                <li class="list-group-item employee">
                <div class="row">
                <div class="col firstname"><span>{{employee.user.get_full_name}}</span></div>
                <!-- Toggle is_active property of this user -->
                <div class="col">
                    <form class="col delete-employee-form">
                        <input type="text" hidden class="delete-employee_id" value="{{employee.user.id}}" />
                        <input type="submit" class="btn btn-secondary btn-sm delete-employee-btn" value="Activate">
                    </form>
                </div>  
                </div> 
            </li>
            {% endif %}
            {% endfor %}
            </ul>


        {% endif %}
    </div>
    <hr>
<!-- END MANAGE EMPLOYEE SECTION -->

<!-- First setup for company infos -->
{% else %}
    <div class="card section" style="width: 18rem;">
    <div class="card-body"><h4 class="card-title">Company Infos</h4>
    <div>
    <form action="{% url 'add_company' %}" method="post" class="form-label">
            {% csrf_token %}
            {{ company_form }}
            <input class="btn btn-primary mt-2" type="submit" value="Add Company">
        </form>  
    </div>
    </div>
    </div>
{% endif %}
{% endblock %}